@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 38% 10%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 239 39% 37%;
    --primary-foreground: 0 0% 88%;

    --secondary: 350 71% 37%;
    --secondary-foreground: 0 0% 88%;

    --muted: 0 0% 35%;
    --muted-foreground: 0 0% 63%;

    --accent: 350 71% 37%;
    --accent-foreground: 0 0% 88%;

    --destructive: 0 69% 58%;
    --destructive-foreground: 0 0% 88%;

    --border: 0 0% 23%;
    --input: 0 0% 23%;
    --ring: 239 39% 37%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
